---
import { Image } from "astro:assets";
import Jorden from "../assets/images/Jorden.png";
import Højretop from "../assets/images/højretop.webp";
import Venstretop from "../assets/images/venstretop.webp";
import Højrebund from "../assets/images/højrebund.webp";
import venstrebund from "../assets/images/venstrebund.webp";

---
<!-- alle billeder skal laves om til webp -->

<section class="flex items-center justify-center min-h-screen relative ">
    <!-- Background Image -->
    <div class="absolute  z-0">
        <Image src={Jorden} alt="Jorden" class="object-cover md:max-w-2xl" />
    </div>

    <!-- Foreground Images in a Grid -->
   
    <div id="stagger" class="staggeranimation relative z-10 grid grid-cols-2 gap-14 max-w-5xl">
        <Image src={Venstretop} alt="Venstretop" class="flex justify-center" />
        <Image src={Højretop} alt="Højretop" class="flex justify-center" />
        <Image src={venstrebund} alt="Venstrebund" class="flex justify-center" />
        <Image src={Højrebund} alt="Højrebund" class="flex justify-center" />
    </div>
</section>


<script>
        	import { inView,animate,stagger } from "@motionone/dom";

    inView( "#stagger img" , () =>{
		animate(
		".staggeranimation img",
		{ opacity: [0, 1] },
		{ 
			delay: stagger(1, { start: 2 })
		}
		)
	})
</script>
