---
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<!-- Navigation -->
 <div class="mt-[90px] px-10">
<div
  x-data="{ showmenu: false }"
  class="px-10 py-1 fixed top-0 left-0 z-50 w-full bg-[#000D36]/50"

>
  <!-- Desktop -->
  <div id="navbar" class="flex flex-row justify-between">
    <!-- Logo -->
    <div class="logo">
      <a href="/">
        <img
          class="w-[90px] h-[70px] object-fit"
          src=""
          alt="Logo - #singleusesucks"
        />
      </a>
    </div>

    <!-- nav -->
    <nav
      id="desktopmenu"
      class="hidden md:flex md:flex-row md:items-center gap-20"
    >
      <ul class="flex flex-row gap-10">
        <li>
          <Link size="text-mg" variant="textlink" href="#hvad-er-plastikforurening"
            >Hvad Er Plastikforurening</Link
          >
        </li>
        <li>
            <Link size="text-mg" variant="textlink" href="/"
              >Problemer Med Plastikforurening</Link
            >
          </li>
          <li>
            <Link size="text-mg" variant="textlink" href="/"
              >Hvad Kan Du Gøre?</Link
            >
          </li>
          <li>
            <Link size="text-mg" variant="primary" size="medium" href="/"
              >Støt</Link
            >
          </li>

      </ul>
     
     
    </nav>
    <!-- burgermenu -->
    <button
      id="burgermenu"
      class="md:hidden"
      x-on:click="showmenu = ! showmenu"
    >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="size-10">
      <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
    </svg>
    
    </button>
  </div>

  <!-- mobile view -->
  <nav
    id="mobilmenu"
    class="flex flex-col pt-2 w-full md:hidden"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="text-right no-underline pb-2">
      <li class="pb-2">
          <Link size="text-mg" variant="textlink" href="#hvad-er-plastikforurening"
            >Hvad Er Plastikforurening</Link
          >
        </li>
        <li class="pb-2">
            <Link size="text-mg" variant="textlink" href="/"
              >Problemer Med Plastikforurening</Link
            >
          </li>
          <li class="pb-2">
            <Link size="text-mg" variant="textlink" href="/"
              >Hvad Kan Du Gøre?</Link
            >
          </li>
          <li class="pb-2">
            <Link size="text-mg" variant="primary" size="medium" href="/"
              >Støt</Link
            >
          </li>
    </ul>
  </nav>
</div>

</div>



<script>
  // Smooth scrolling script
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function(e) {
          e.preventDefault();

          const target = document.querySelector(this.getAttribute('href'));

          target.scrollIntoView({
              behavior: 'smooth', // Smooth scrolling
              block: 'start' // Scrolls to the top of the section
          });
      });
  });
</script>
